.maincontainer{
    margin-top: 3rem;
    background: antiquewhite;
}

.header-nav {
    font-size: 16px;
    font-weight: 700;
}

.header-nav {
    text-transform: capitalize;
}

.header-nav {
    margin-left: 600px;
}

.header-nav a:hover {
    color: #00e9ba;
}

.header-nav1{
    margin-left: 2rem;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
}
.header-nav1 a:hover{
    color: #00e9ba;
}