/* Reset start */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: #ffffff;
	background-color: #6972f4;
	font: 400 14px/1 'Roboto', sans-serif;
}

.course-item{
	margin: 10px;
	transform: scale(1.05);
	transition:transform 0.4s;
	opacity: 0.8;
	background:gray;
}

.course-item:hover{
	transform: scale(1);
	opacity: 1;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}
/* Reset end */
/* Default classes start */
.d-flex {
	display: flex;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}

.flex-column {
	flex-direction: column;
}

.align-items-center {
	align-items: center;
}

.flex-wrap {
	flex-wrap: wrap;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-uppercase {
	text-transform: uppercase;
}
/* Default classes end */
.container {
	max-width: 1170px;
	margin: auto;
	padding: 0 15px;
}

.standart-section {
	padding: 80px 0;
}

.section-title {
	font-weight: 900;
	margin-bottom: 75px;
	font-size: 30px;
}

.col-4 {
	width: 33.3333%;
	padding: 0 15px;
}

.row {
	margin: 0 -15px;
}

#header {
	padding: 20px 0;
	border-bottom: 2px solid #ffffff;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.header-nav {
	font-size: 16px;
	font-weight: 700;
}

.header-nav2{
	margin-top: 0.5rem;
}

.header-nav a + a {
	margin-left: 30px;
}

.header-nav a:hover {
	color: #00e9ba;
}

.course-item .course-img {
	display: block;
	margin-bottom: 20px;
}


