.icons-contacts {
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    letter-spacing: 3rem;
    color: #2871bf;
    /*color: #6972f4;*/
    /*color: #36a7b9;*/
    font-size: 28px;
}

.contact-images{
    margin: auto;
}


