
.icons-contacts {
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    letter-spacing: 1rem;
    /*color: #2871bf;*/
    color: #6972f4;
    /*color: #36a7b9;*/
    font-size: 38px;
}

.card-text{
    color: #84470a;
    font-size: 2rem;
}


